@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-xxs {
        font-size: 0.5rem;
        line-height: 0.75rem;
    }
    .nav-desktop {
        @apply  sm:px-perc-[8] md:px-perc-[14];
    }
    .content-desktop {
        @apply  sm:px-perc-[6] md:px-perc-[9];
    }
}

@layer components {
    .failedToLoad {
        @apply  flex text-2xl sm:text-3xl md:text-4xl
                font-sans font-bold
                justify-center;
    }
    .navbar {
        @apply  grid grid-cols-auto-[2] sm:grid-cols-auto-[3]
                z-10 sticky top-0
                items-center
                py-2 mb-3 sm:mb-6
                shadow-md bg-white
                nav-desktop;
    }
    .logo {
        @apply  flex
                object-contain
                w-40 md:w-60
                m-3 md:m-5 mx-auto md:mx-auto
                select-none;
    }
    .text_button {
        @apply  flex
                font-sans text-gray-900 font-bold
                text-xl md:text-2xl
                self-center;
    }
    .graphic_button {
        @apply  flex
                w-8 h-8 sm:w-8 sm:h-8 md:w-9 md:h-9
                mx-1 sm:mx-1.5 md:mx-2;
    }
    .menu {
        @apply  flex flex-col w-full h-full
                fixed top-0
                bg-white
                z-20
                gap-y-2 px-3;
    }
    .menu a {
        @apply  flex flex-col gap-y-2
                text-xl text-gray-900 font-sans font-bold
                py-1;
    }
    .menu button {
        @apply  mt-[60px];
    }
    .menu hr {
        @apply  block h-[2px] bg-gray-900 rounded-full w-0
                mr-auto;
    }
    main {
        @apply  flex justify-center flex-col gap-y-3 sm:gap-y-6
                content-desktop;
    }
    .currentDeals {
        @apply  grid snap-mandatory overflow-scroll;
        grid-auto-columns: 100%;
        grid-auto-flow: column;
        -ms-overflow-style: none;
        scrollbar-width: none;
        --tw-pan-x: auto;
        touch-action: var(--tw-touch-action);
    }
    .currentDeals::-webkit-scrollbar {
        display: none;
    }
    .titleBig {
        @apply  text-center text-xl sm:text-2xl md:text-4xl font-sans font-semibold text-gray-900 my-3;
    }
    .deal {
        @apply  grid grid-rows-auto-[2] grid-cols-auto-[1]
                gap-y-3 mx-2 first:ml-2 first:mr-2 last:ml-2 last:mr-2
                rounded-xl
                bg-white
                snap-center;
    }
    .dealInfo {
        @apply  grid grid-rows-auto-[4] gap-y-1 md:gap-y-3
                bg-gradient-to-t from-zinc-900
                row-start-2 col-start-1
                font-sans text-white
                rounded-b-xl
                md:px-perc-[15]
                pt-20;
    }
    .dealTitle {
        @apply  flex col-start-1 row-start-2
                mx-3 text-xl md:text-3xl;
    }
    .dealDesc {
        @apply  flex col-start-1 row-start-3
                font-light
                mx-3
                text-base md:text-2xl;
    }
    .toDeal {
        @apply  flex col-start-1 row-start-4
                m-3
                w-fit bg-white rounded-lg
                p-2 gap-x-2
                text-black
                text-base md:text-lg
                after:content-[url('/assets/arrow.svg')];
    }
    .dealIllustr {
        @apply  flex row-span-full col-span-full
                justify-self-center self-center
                object-cover w-full
                h-96 md:h-[41rem]
                rounded-xl
                cursor-default select-none;
    }
    footer {
        @apply  flex flex-col mt-6 px-2 pb-2
                before:w-full before:h-0.5 before:bg-gray-900 before:rounded-full
                gap-y-2 sm:gap-y-3
                sm:nav-desktop;
    }
    footer ul {
        @apply  flex flex-row flex-wrap
                justify-center
                gap-x-1.5 sm:gap-x-2.5;
    }
    footer ul li {
        @apply  flex gap-x-1.5 sm:gap-x-2.5
                after:inline-flex after:h-[75%] after:w-[1.3px] after:bg-gray-900 last:after:hidden
                after:self-center;
    }
    footer ul li a {
        @apply  text-sm sm:text-lg font-sans;
    }
    .mediaIcon {
        @apply  flex w-8 h-8 sm:w-10 sm:h-10 pointer-events-none;
    }
    .infoLong {
        @apply  flex flex-row flex-wrap
        text-base sm:text-lg md:text-xl
        font-sans text-left mx-2 gap-y-1
        sm:content-desktop;
    }
}