<section class="flex flex-col prose prose-base">
  <h2>What are we about?</h2>
  <p>
    SQD Boards is a company of enthusiasts, who are fond of high quality
    keyboards and want to spread the thing!<br />We've been into keyboards for
    quite a long time and have always noticed how hard it can be to build your
    own custom mechanical keyboard. And that's the very reason why we've created
    this website - to help you! We offer first-in-class tool - Configurator.<em
      >*Coming soon.</em
    >
    <br />
    With it's help, you will be able to build the keyboard of your dream in no
    time!
  </p>
  <h2>Stock availability</h2>
  <p>
    As we plan to partner with some large part manufacturers, our stock
    availability will depend on their possibilities and stock volumes. <br />
    We plan to partner with the following:
  </p>
  <ul>
    <li>KPrepublic</li>
    <li>KBDFans</li>
  </ul>
</section>
