<p class="titleBig" id="whoWeAre">What are we about: </p>

<div class="infoLong">
    <p><em>SQD Boards</em> is a company of enthusiasts, who are fond of high quality keyboards and want to spread the thing!</p>
    <p>We've been into keyboards for quite a long time and have always noticed how hard it can be to build your own custom mechanical keyboard.
    And that is the very reason why we've created this website - to help you! We offer first-in-it's-class tool - Configurator. <em>*Coming soon.</em></p>
    <p>With it's help, you will be able to build the keyboard of your dream, while only being limited by the current stock.</p>
</div>

<p class="titleBig" id="stockAvail">Stock availability: </p>

<div class="infoLong">
    <p>As we plan to partner with some large part manufacturers, our stock availability will be limited to their possibilities and stock volumes.</p>
    <p>As for some of the manufacturers, these ones may be our partners in future: <em>KPrepublic</em>, <em>KBDFans</em>.</p>
</div>
