<!-- <div *ngIf="auth.user$ | async as user" class="flex flex-col gap-y-10">
    <img src="{{ user.picture }}" alt="User profile picture" class="flex mx-auto rounded-full w-28 h-28">
    
    <form action="" class="flex flex-col gap-y-10 font-sans text-lg" #userProfile="ngForm" (submit)="updateUser(model)" ngNativeValidate>
        <div class="inputBlock">
            <label for="name" class="inputTitle">Display name: </label>
            <input type="text" name="name" id="name" class="inputField" required [(ngModel)]="model.name" [value]="user.name" placeholder="Some Cool Name for Display">
        </div>
    
        <div class="inputBlock">
            <label for="email" class="inputTitle">Email: </label>
            <input type="email" name="email" id="" class="inputField w-11/12" required [(ngModel)]="model.email" [value]="user.email" placeholder="example@provider.com">
        </div>

        <span class="flex flex-col gap-y-2">
            <button type="submit" [disabled]="!userProfile.valid || !userProfile.dirty" class="flex px-6 py-0.5 w-fit mx-auto border-2 border-gray-900 rounded-xl" id="submitProfile">Save</button>
            <div class="flex mx-auto text-sm font-sans text-gray-500">
                <p [hidden]="userProfile.dirty">Nothing to save!</p>
            </div>
        </span>
    </form>
</div> -->

<p class="titleBig">Coming soon!</p>
