<div id="zoom-container"></div>

<span class="prose">
  <h3 class="flex flex-col w-fit mx-auto" id="typed-size"></h3>
</span>

<div role="radiogroup" class="hidden w-max py-1.5 justify-center" id="pcbChoice">
  <form [formGroup]="pcbSizeGroup" class="flex flex-row gap-x-6 overflow-x-auto scroll-mx-2 no-scrollbar items-center justify-center">
    <squi-radio
      *ngFor="let size of availSizes"
      squi-label="{{ size }}"
      squi-value="{{ size }}"
      squi-form-control-name="pcbSize"
    >
    </squi-radio>
  </form>
</div>

<ng-template #loader>
  <p class="font-sans text-lg font-light opacity-0 animateIn mx-auto">
    loading...
  </p>
</ng-template>
<span
  class="text-xs sm:text-sm lg:text-lg font-sans text-center select-none opacity-0 animateIn"
>
  Not sure?
  <a class="text-indigo-900" routerLink="/help/keyboard-size-chart"
    >Size chart.</a
  >
</span>

<div class="itemList content-responsive" *isloading="loading">
  <div *ngFor="let pcb of showPcbs" class="item">
    <span
      class="itemGal no-scrollbar"
      #gal
      (mousedown)="this.scroll.startDragging($event, gal)"
      (mouseup)="this.scroll.stopDragging($event, gal)"
      (mousemove)="this.scroll.moveEvent($event, gal)"
      (mouseleave)="this.scroll.stopDragging($event, gal)"
    >
      <img
        *ngFor="let img of pcb.images"
        src="{{ img }}"
        alt="{{ pcb.title }} photo"
        class="snap-center pointer-events-none snap-always"
      />
    </span>
    <div class="flex flex-col">
      <p class="itemTitle">{{ pcb.title }}</p>
      <ul class="flex flex-col overflow-x-scroll no-scrollbar">
        <li class="itemDesc" *ngIf="pcb.features.hotSwappable">
          Hot-swap support: yes.
        </li>
        <li class="itemDesc" *ngIf="!pcb.features.hotSwappable">
          Hot-swap support: no.
        </li>
        <li class="itemDesc">RGB: {{ pcb.features.rgb }}.</li>
        <li class="itemDesc">USB: {{ pcb.features.usbType }}.</li>
        <li class="itemDesc">Firmware: {{ pcb.features.firmware }}.</li>
      </ul>
      <a
        class="relative inline-block group focus:outline-none focus:ring w-fit mt-2 ml-auto sm:mx-auto"
      >
        <span
          class="absolute inset-0 transition-transform buttonBgOffset bg-rose-100 group-hover:translate-y-0 group-hover:translate-x-0 group-active:translate-x-0 group-active:translate-y-0"
        ></span>

        <span
          class="relative inline-block px-6 py-2 sm:py-3 md:px-8 md:py-4 text-sm font-bold tracking-widest text-gray-900 uppercase border-2 border-current group-active:text-opacity-75 select-none"
        >
          Pick
        </span>
      </a>
    </div>
  </div>
</div>
