<main *ngIf="auth.user$ | async as user">
  <h2 class="flex flex-col text-center md:text-lg">
    Hi, {{ user.name }}
    <span
      class="text-xs sm:text-sm lg:text-lg font-sans text-center select-none"
    >
      Not you? Try
      <button
        class="text-indigo-900"
        (click)="auth.logout({ returnTo: document.location.origin })"
      >
        signing out
      </button>
    </span>
  </h2>

  <div
    class="flex flex-row justify-center gap-x-10 text-lg my-2 lg:text-xl font-sans text-gray-900 font-normal border-b-[1.5px] border-gray-900 w-11/12 mx-auto"
  >
    <a
      routerLink="./profile"
      routerLinkActive="linkActive"
      class="px-1.5 md:py-0.5 md:px-2"
      >Profile</a
    >
    <a
      routerLink="./orders"
      routerLinkActive="linkActive"
      class="px-1.5 md:py-0.5 md:px-2"
      >Orders</a
    >
    <a
      routerLink="./settings"
      routerLinkActive="linkActive"
      class="px-1.5 md:py-0.5 md:px-2"
      >Settings</a
    >
  </div>

  <router-outlet></router-outlet>
</main>
