@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow-y: scroll;
}

.medium-zoom-overlay {
    z-index: 45;
}

.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.75 !important;
}