main {
  @apply flex justify-center flex-col gap-y-3 sm:gap-y-6;
}
.currentDeals {
  @apply grid snap-mandatory overflow-scroll;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
  --tw-pan-x: auto;
  touch-action: var(--tw-touch-action);
}
.currentDeals::-webkit-scrollbar {
  display: none;
}

.deal {
  @apply grid grid-rows-[repeat(2,auto)] grid-cols-[auto]
          gap-y-3 mx-2 first:ml-2 first:mr-2 last:ml-2 last:mr-2
          rounded-xl
          bg-white
          snap-center;
}
.dealInfo {
  @apply grid grid-rows-[repeat(4,auto)] gap-y-1 md:gap-y-3
          bg-gradient-to-t from-zinc-900
          row-start-2 col-start-1
          font-sans text-white
          rounded-b-xl
          md:px-[15%]
          pt-20;
}
.dealTitle {
  @apply flex col-start-1 row-start-2
          mx-3 text-xl md:text-3xl;
}
.dealDesc {
  @apply flex col-start-1 row-start-3
          font-light
          mx-3
          text-base md:text-2xl;
}
.toDeal {
  @apply flex col-start-1 row-start-4
          m-3
          w-fit bg-white rounded-lg
          p-2 gap-x-2
          text-black
          text-base md:text-lg
          after:content-[url('/assets/nav/arrow.svg')];
}
.dealIllustr {
  @apply flex row-span-full col-span-full
          justify-self-center self-center
          object-cover w-full
          h-96 md:h-[41rem]
          rounded-xl
          cursor-default select-none;
}
