:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.kbdComponent {
  @apply flex flex-row items-center gap-x-1;
}

.icon {
  @apply flex h-4 object-contain;
}
