<p class="titleBig">Your orders: </p>

<div class="flex flex-col gap-y-3 px-2">
    <div class="flex flex-col border-2 border-gray-900 gap-y-2 rounded-lg px-3 py-1 font-sans" *ngFor="let order of mockOrders">
        <span class="flex flex-col flex-nowrap w-fit">
            <p class="text-lg font-semibold">Order #{{ order.orderId }}</p>
            <hr class="orderSpacer w-full bg-gray-900 border-0">
        </span>
        <!-- Short info -->
        <span class="flex flex-row flex-wrap items-center gap-x-2 text-base font-normal">
            <!-- <p>{{ order.switches }} + {{ order.pcb }} in {{ order.case }}!</p> -->
            <span class="flex flex-row items-center gap-x-1">
                <object data="/assets/nav/orders/switch.svg" type="image/svg+xml" class="orderIcon"></object>
                <p>{{ order.switches }} + </p>
            </span>
            <span class="flex flex-row items-center gap-x-1">
                <object data="/assets/nav/orders/pcb.svg" type="image/svg+xml" class="orderIcon"></object>
                <p>{{ order.pcb }} in </p>
            </span>
            <span class="flex flex-row items-center gap-x-1">
                <object data="/assets/nav/orders/case.svg" type="image/svg+xml" class="orderIcon"></object>
                <p>{{ order.case }}</p>
            </span>
        </span>
        <p class="w-fit rounded-lg border-2 border-gray-900 px-2 py-1 text-gray-900">To the order!</p>
    </div>
</div>
