<span class="prose">
  <h3 class="flex flex-col w-fit mx-auto text-center" id="typed-size"></h3>
</span>

<div
  role="radiogroup"
  class="hidden w-full mx-2 py-3 justify-center"
  id="pcbChoice"
>
  <form
    [formGroup]="pcbFilters"
    class="flex flex-col xs:flex-row gap-y-1 xs:gap-y-0 gap-x-2 mx-3 no-scrollbar items-center overflow-x-scroll no-scrollbar"
    *isloading="availSizes.length === 0"
  >
    <span>
      <button
        class="flex w-24 max-w-[6rem] bg-transparent border-[2px] border-slate-200 p-[0.2rem]"
        id="sizeFilterDropdownToggle"
        data-dropdown="sizeFilterDropdown"
      >
        <span
          class="text-base leading-none text-center w-full font-semibold mx-0.5 pointer-events-none"
        >
          Size
          <p class="overflow-hidden text-ellipsis text-xs font-normal">
            {{
              pcbFilters.value.size
                ? pcbFilters.value.size.length === 0
                  ? "All"
                  : pcbFilters.value.size
                : "All"
            }}
          </p>
        </span>
      </button>
      <div
        id="sizeFilterDropdown"
        class="dd absolute hidden flex-col w-fit p-2 bg-white shadow mt-1 z-10"
      >
        <select class="no-scrollbar p-1.5" formControlName="size" multiple>
          <option *ngFor="let size of availSizes" value="{{ size }}">
            {{ size }} sized
          </option>
        </select>
        <span class="prose prose-sm font-sans text-center select-none">
          Not sure?
          <a
            target="_blank"
            rel="noopener noreferrer"
            style="text-decoration: none"
            class="text-indigo-900"
            routerLink="/help/keyboard-size-chart"
            >Size chart.</a
          >
        </span>
        <button
          class="text-center text-sm font-light my-1"
          (click)="clearFilter('size')"
        >
          Reset
        </button>
      </div>
    </span>
    <span>
      <button
        class="flex w-24 max-w-[6rem] bg-transparent border-[2px] border-slate-200 p-[0.2rem]"
        id="hotswapFilterDropdownToggle"
        data-dropdown="hotswapFilterDropdown"
      >
        <span
          class="text-base leading-none text-center w-full font-semibold mx-0.5 pointer-events-none"
        >
          Hotswap

          <p
            class="overflow-hidden text-ellipsis text-xs font-normal capitalize"
          >
            {{
              pcbFilters.value.hotswap != null
                ? pcbFilters.value.hotswap
                : "All"
            }}
          </p>
        </span>
      </button>
      <div
        id="hotswapFilterDropdown"
        class="dd absolute hidden flex-col w-fit p-2 bg-white shadow mt-1 items-center justify-center gap-y-1.5 z-10"
      >
        <label
          for="hotswap_support"
          class="flex flex-row gap-x-1 items-center justify-center"
        >
          <input
            type="checkbox"
            id="hotswap_support"
            formControlName="hotswap"
            class="rounded-[0.25rem]"
          />
          Supports hotswap</label
        >
        <button
          class="text-center text-sm font-light"
          (click)="clearFilter('hotswap')"
        >
          Reset
        </button>
      </div>
    </span>
    <span>
      <button
        class="flex w-24 max-w-[6rem] bg-transparent border-[2px] border-slate-200 p-[0.2rem]"
        id="rgbFilterDropdownToggle"
        data-dropdown="rgbFilterDropdown"
      >
        <span
          class="text-base leading-none text-center w-full font-semibold mx-0.5 pointer-events-none"
        >
          RGB

          <p
            class="overflow-hidden text-ellipsis text-xs font-normal capitalize"
          >
            {{ pcbFilters.value.rgb != null ? pcbFilters.value.rgb : "All" }}
          </p>
        </span>
      </button>
      <div
        id="rgbFilterDropdown"
        class="dd absolute hidden flex-col w-fit p-2 bg-white shadow mt-1 items-center justify-center gap-y-1.5 z-10"
      >
        <label
          for="rgb_support"
          class="flex flex-row gap-x-1 items-center justify-center"
        >
          <input
            type="checkbox"
            id="rgb_support"
            formControlName="rgb"
            class="rounded-[0.25rem]"
          />
          Supports RGB</label
        >
        <button
          class="text-center text-sm font-light"
          (click)="clearFilter('rgb')"
        >
          Reset
        </button>
      </div>
    </span>
  </form>
</div>

<div class="hidden w-full content-responsive" id="pcbsContainer">
  <div class="itemList" *isloading="loading">
    <form
      class="w-full flex flex-col gap-y-2 items-center justify-center"
      [formGroup]="pcbChoice"
      [hidden]="!pcbFilters.valid"
      (ngSubmit)="submitPcb(pcbChoice.value.pcb)"
    >
      <section class="flex flex-row flex-wrap gap-x-1 gap-y-1 justify-center">
        <div *ngFor="let pcb of showPcbs; index as i" class="item">
          <swiper
            class="no-scrollbar max-w-full"
            [slidesPerView]="1"
            [spaceBetween]="25"
            [loop]="true"
            [pagination]="{ dynamicBullets: true }"
            [lazy]="{
              enabled: true,
              loadOnTransitionStart: true,
              loadPrevNext: true,
              loadPrevNextAmount: 1
            }"
          >
            <ng-template
              swiperSlide
              *ngFor="let img of pcb.attributes.images.data"
              class="w-64 h-64"
            >
              <img
                attr.aria-describedby="{{ pcb.attributes.title }} photo"
                class="swiper-lazy snap-center snap-always select-none cursor-pointer"
                [attr.data-src]="img.attributes.url"
                #el
                (click)="openZoomist(el)"
              />
            </ng-template>
          </swiper>
          <div class="flex flex-col">
            <p class="itemTitle">
              {{ pcb.attributes.title }} ({{ pcb.attributes.size }})
            </p>
            <ul class="flex flex-col overflow-x-scroll no-scrollbar">
              <li
                class="itemDesc"
                *ngIf="pcb.attributes.features.hotswap_support"
              >
                Hot-swap support: yes.
              </li>
              <li
                class="itemDesc"
                *ngIf="!pcb.attributes.features.hotswap_support"
              >
                Hot-swap support: no.
              </li>
              <li class="itemDesc">
                RGB: {{ pcb.attributes.features.rgb_type }}.
              </li>
              <li class="itemDesc">
                USB: {{ pcb.attributes.features.usb_type }}.
              </li>
              <li class="itemDesc">
                Firmware: {{ pcb.attributes.features.firmware }}.
              </li>
            </ul>
          </div>
          <input
            class="hidden"
            type="radio"
            formControlName="pcb"
            id="pcb{{ i }}"
            [defaultChecked]="false"
            [value]="pcb"
          />
          <label
            class="w-max h-max place-self-flex-end mt-auto"
            for="pcb{{ i }}"
          >
            <squi-button
              squi-color="#ffe4e6"
              [squi-label]="
                stringify(pcb) === stringify(pcbChoice.value.pcb)
                  ? 'Picked'
                  : 'Pick'
              "
              class="place-self-flex-end"
            >
            </squi-button>
          </label>
        </div>
      </section>
      <p class="text-center">
        You picked: {{ pcbChoice.value.pcb?.attributes.title || "nothing" }}
      </p>
      <button
        class="place-self-flex-end"
        type="submit"
        [disabled]="!pcbChoice.valid"
        #subPcb
      >
        <squi-button
          squi-label="Next"
          [squi-color]="!subPcb.disabled ? '#ffe4e6' : 'transparent'"
        ></squi-button>
      </button>
    </form>
  </div>
</div>

<div
  id="zoomist-container"
  class="hidden fixed py-8 px-6 top-0 left-0 bg-gray-900 bg-opacity-60 w-screen h-screen justify-center items-center"
>
  <button
    (click)="closeZoomist(true)"
    class="absolute top-4 left-4 w-max h-max z-50 bg-gray-900 rounded-full p-1"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#fff"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</div>
